body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	border: 1px dashed red;
	min-height: 10px;
}
.postcard-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
}
.postcard-header h1¨ {
	margin: 0;
}
.postcard-header img {
	height: 50px;
	margin-right: 20px;
}
.postcard-body {
	display: flex;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.body-left p:first-child {
	margin-top: o;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px solid grey;
}
.body-left p,
.body-right p {
	font-size: 16px;
}
.postcard-footer{
	text-align: center;
}
button{
	background-color: green;
	padding: ;
}